<?xml version="1.0" encoding="UTF-8"?>
<Rules xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" type="DynamoDBAutoScale.ConfigMapping.Rules, DynamoDBAutoScale">
	<Rule>
		<LookBackMinutes>15</LookBackMinutes>
		<DecreaseFrequency>Immediate</DecreaseFrequency>
		<Includes>
			<Tables>
				<Table>traffic_*</Table>
			</Tables>
			<Indexes>
				<Index>*</Index>
			</Indexes>
		</Includes>
		<Excludes>
			<Tables>
				<Table>*_14*</Table>
			</Tables>
			<Indexes>
				<Index>traffic_14*/export_index</Index>
			</Indexes>
		</Excludes>
		<Read>
			<MaximumThroughput>100</MaximumThroughput>
			<MinimumThroughput>10</MinimumThroughput>
			<DecreaseCombinationModifier>10</DecreaseCombinationModifier>
			<Increase>
				<Threshold>10</Threshold>
				<Amount>20</Amount>
			</Increase>
			<Decrease>
				<Threshold>50%</Threshold>
				<Amount>30%</Amount>
				<BlockoutTimeFrames>
					<BlockoutTimeFrame>
						<Start>1:00</Start>
						<End>2:00</End>
					</BlockoutTimeFrame>
					<BlockoutTimeFrame>
						<Start>3:00</Start>
						<End>4:00</End>
					</BlockoutTimeFrame>
				</BlockoutTimeFrames>
			</Decrease>
		</Read>
		<Write>
			<MaximumThroughput>500</MaximumThroughput>
			<MinimumThroughput>50</MinimumThroughput>
			<DecreaseCombinationModifier>10</DecreaseCombinationModifier>
			<Increase>
				<Threshold>10%</Threshold>
				<Amount>50</Amount>
			</Increase>
			<Decrease>
				<Threshold>30</Threshold>
				<Amount>25</Amount>
			</Decrease>
		</Write>
	</Rule>
</Rules>